body, html {
    margin: 0;
    padding: 0;
    height: 95%;
    font-family: Arial, sans-serif;
    /* background: url('background.jpg') no-repeat center center fixed; */
    background-color: #0A6CFF;
    background-size: cover;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 95%;
    padding: 0px 0px 5%;
    /* background: rgba(0, 0, 0, 0.5); */
}

header {
    padding: 20px;
}

.logo {
    width: 250px;
    padding: 2.5px;
}

.tagline {
    font-size: 1.5em;
    margin: 10px 0;
}

.overlay {
    padding: 20px;
}

.overlay h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#countdown {
    font-size: 2em;
    margin-bottom: 20px;
}

.signup-form input {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 50px;
    width: 200px;
}

.signup-form button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 50px;
    background-color: #FFD600;
    color: black;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #d9b500;
}

footer {
    padding: 20px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.social-links a:hover {
    color: #ff7f50;
}

.d-none {
    display: none;
}




/* #trigger {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
} */

#trigger {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#trigger:hover .logo:hover {
    background-color: none;
    width: 255px;
    padding: 0px;
}

#falling-logos {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.logo-fall {
    position: absolute;
    width: 30px;
    animation: fall 4s linear forwards;
}

@keyframes fall {
    from { top: -50px; opacity: 1; }
    to { top: 120vh; opacity: 0; }
}



/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .formBy {
    font-size: 8px;
    font-weight: lighter;
  }
  .i-form button {
    line-height: .85;
  }

  .infoFooter {
    width: 100%;
    color: darkblue;
    /* position: relative;
    left: 0;
    bottom: 0; */
    text-align: center;
  }

  .unsubTXT {
    color: white;
    font-size: 15px;
  }

  #privacyModal {
    background-color: none;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  background: none;
  font-size: 15px;
  }
  #privacyModal:hover {
    cursor: context-menu;
    background-color: none;

  }
  .unsubHere {
    color: white;
  }
  .unsubHerePrivacy {
    color: black;
  }

  .PrivacyText {
    text-align: left;
  }

  .modalBy {
    text-align: right;
  }